/* Titelüberschriften */
.md-typeset h1, .md-typeset h2 {
    font-weight: 600;
    border-bottom: 2px solid #eee;
    padding-bottom: 1rem;
    margin-top: 0;
}

/* Inline-Code */
code {
    background: #f4f4f4;
    padding: 0.15em 0.4em;
    border-radius: 4px;
    font-size: 0.95em;
}

.md-nav__list {
    padding: 0 !important;
    margin: 0 !important;
    background: #F7F7F7 !important;
    border-left: none;
}

.md-nav__item {
    background-color: #F7F7F7 !important;
    padding: 0 !important;
}

.md-nav__item .md-nav__link {
    padding: .3rem !important;
}

.md-nav__item .md-nav__link:hover {
    color: #303030 !important;
}

.md-nav__list .md-nav__link--active {
    border-left: none;
    margin: 0 !important;
    padding: .5rem !important;
    background-color: #757575;
    color: #F7F7F7;
    font-weight: bold;
}

.md-nav__item .md-nav__link--active:hover {
    color: #F7F7F7 !important;
}

.md-nav.md-nav--secondary {
    padding: 0 !important;
    margin: 0 !important;
}

.md-nav__item--nested {
    margin-left: 0;
    padding-left: .6rem;
}

.md-nav__item--nested .md-nav {
    margin: 0 !important;
}

.md-header {
    height: 4rem;
    padding:0;
}

.md-header nav {
    height: 100%;
}

.md-header .md-logo img {
    height: 7rem;
}

.md-header .md-header__topic {
    color: transparent;
}
